<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Issue Book</title>
</head>
<style>
    #bookIssued {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .book-card {
        margin: 1rem;
        height: auto;
        width: 20rem;
        display: flex;
        flex-direction: column;
        border: 1px solid black;
    }
    
    .book-card div {
        font-size: 14px;
        margin: 0.5rem 0.8rem;
        display: flex;
        justify-content: space-between;
    }
</style>

<body>
    <div class="tableContainer">
        <table>
            <thead>
                <th>Sl. no.</th>
                <th>Book Name</th>
                <th>Author Name</th>
                <th>Book Genre</th>
                <th>Book Price</th>
                <th>Issued or not</th>
            </thead>
            <tbody>

                <% data.forEach((ele,index)=>{ %>
                    <form method="post" action="/issueBook/<%= userdata.userName -%>/<%= userdata.registrationNumber-%>">
                        <tr class="tableRow" id="<%= index -%>">
                            <td class="row-data">1</td>
                            <td class="row-data" id="<%= ele.bookId -%>">
                                <input type="text" name='bookNameIssue' value="<%= ele.bookName -%>">
                            </td>
                            <td class="row-data">
                                <input type="text" name='bookAuthorIssue' value="<%= ele.authorName -%>">
                            </td>
                            <td class="row-data">
                                <input type="text" name="bookGenreIssue" value="<%= ele.bookGenre -%>">
                            </td>
                            <td class="row-data">
                                <input type='text' name='bookPriceIssue' value="<%= ele.bookPrice -%>">
                            </td>
                            <td class="row-data">
                                <button class="get-issuedInfo" type="submit">Issue Book</button>
                            </td>
                        </tr>
                    </form>
                    <% }) %>

            </tbody>
        </table>
    </div>
    <div class="bookIssuerInfo">
        <div class="issuerInfo">
            <h4>
                <%= userdata.userName -%>
            </h4>
            <h4>
                <%= userdata.registrationNumber -%>
            </h4>
        </div>
        <div id="bookIssued">
            <%issuerInfo && issuerInfo.forEach(ele=>{ %>
                <form action="/removeIssuedBook/<%= userdata.userName -%>/<%= userdata.registrationNumber-%>" method="post">
                    <div class='book-card'>
                        <div>Book Name - <input type='text' name='bookName' value='<%= ele.bookname -%>' /></div>
                        <div>Author Name - <input type='text' name='authorName' value='<%= ele.bookauthor -%>' /></div>
                        <div>Book Genre - <input type="text" name="bookGenre" value="<%= ele.bookgenre -%>"></div>
                        <div>Book Price - <input type='text' name='bookPrice' value='<%= ele.bookprice -%>' /></div>
                        <div><button type="submit">Remove Book</button></div>
                    </div>
                </form>
                <% }) %>
        </div>
        <div class='no-of-days-for-issue'>
            <form method="post" action="/issuebookWithDays/:<%= userdata.userName -%>/:<%= userdata.registrationNumber-%>">
                <label for='numberOfdaysIssue'>How many days you want to issue</label>
                <select name="daysIssued" id="numberOfDaysIssue" required>
                    <option class="daysIssued" name='' value="None">--Select Option--</option>
                    <option class="daysIssued" name='option1' value="7">1 week (Free)</option>
                    <option class="daysIssued" name='option2' value="14">2 weeks (Free)</option>
                    <option class="daysIssued" name='option3' value="30">1 month (Free)</option>
                    <option class="daysIssued" name='option4' value="45">1.5 months (20% of book price)</option>
                    <option class="daysIssued" name='option5' value="60">2 months (25% of book price)</option>
                    <option class="daysIssued" name='option6' value="90">3 months (40% of book price</option>
                    <option class="daysIssued" name='option7' value="180">6 months (70% of book price)</option>
                </select>
                <button type="submit">Issue Books</button>
            </form>
        </div>
    </div>
</body>


</html>