<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Issued Books Info</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-attachment: fixed;
        background-size: cover;
        background-image: url('/images/2020_07_cambridge-university-library-3d-hd-4k.jpg');
    }
    
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        /* border: 1px solid white; */
        margin: 1rem;
        background-color: rgba(0, 0, 0, 0.6);
    }
    /* Flip animation starts here */
    
    .card {
        position: relative;
        width: 19rem;
        height: 14rem;
        padding: 1rem;
        /* border: 1px solid white; */
        margin: 1rem;
        transition: all 1.2s ease;
        transform-style: preserve-3d;
    }
    
    .card:hover {
        transform: rotateY(180deg);
    }
    
    .theFront {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0.5rem;
        backface-visibility: hidden;
        background: linear-gradient(to right, rgba(77, 77, 252, 0.8), rgba(85, 85, 252, 0.8), rgba(115, 115, 252, 0.8));
        color: white;
    }
    
    .theBack {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0.5rem;
        backface-visibility: hidden;
        background: linear-gradient(to right, rgba(2, 167, 134, 0.8), rgba(8, 179, 144, 0.8), rgba(29, 216, 179, 0.8));
        color: #ffffff;
        transform: rotateY(180deg);
    }
    
    #bookName {
        margin: 0.5rem;
        font-size: 1.5rem;
        text-align: center;
        font-weight: bold;
    }
    
    #authorName {
        font-size: 1.2rem;
        text-align: center;
        color: black;
    }
    
    .theBack div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }
    /* Flip Animation Ends here */
    
    .genreImage img {
        width: 100%;
        height: 8rem;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }
    
    .issuerInfoContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 1rem;
    }
    
    .issuerInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* border: 1px solid black; */
        padding: 0.3rem 0.6rem;
        background-color: rgba(233, 91, 233, 0.8);
        color: rgb(252, 252, 46);
    }
    
    .issuerInfo .hr {
        width: 100%;
        border-bottom: 1px solid black;
        margin: 0.5rem 0;
    }
    
    .date {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        background-color: rgba(0, 152, 120, 0.7);
    }
    
    .date div {
        padding: 0.5rem;
        background-color: rgb(64, 126, 241);
        color: white;
    }
    
    #homeBtn {
        outline: none;
        border: none;
        padding: 0.5rem 1rem;
        color: white;
        margin: 0 1rem;
        background-color: rgb(71, 129, 236);
        font-size: 1.1rem;
        transition: 0.3s ease-in-out;
        cursor: pointer;
    }
    
    #homeBtn:hover {
        background-color: white;
        color: rgb(71, 129, 236);
    }
    
    .date p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: light;
        font-size: 2rem;
    }
</style>

<body>
    <div class="date">
        <form action="/">
            <button id="homeBtn">Home</button>
        </form>
        <p>ISSUED BOOKS INFO</p>
        <div>
            Todays Date -
            <%= todayDate -%>
        </div>
    </div>
    <div class="issuerInfoContainer">
        <div class="issuerInfo">
            <span>User Name</span>
            <div class="hr"></div>
            <%= userInfo.userName -%>
        </div>
        <div class="issuerInfo">
            <span>User Registration Number</span>
            <div class="hr"></div>
            <%= userInfo.registrationNumber -%>
        </div>
        <div class="issuerInfo">
            <span>User Email Id</span>
            <div class="hr"></div>
            <%= userInfo.email -%>
        </div>
        <div class="issuerInfo">
            <span>User Mobile Number</span>
            <div class="hr"></div>
            <%= userInfo.mobileNumber -%>
        </div>
        <div class="issuerInfo">
            <span>Total Number Of Books Issued</span>
            <div class="hr"></div>
            <%= data.length -%>
        </div>
    </div>
    <div class="container">

        <% data.forEach(ele=>{ %>
            <div class="card">
                <div class="theFront">
                    <div class="genreImage">
                        <img src="/images/<%= ele.bookgenre.toLowerCase().trim() -%>.jpg" alt="">
                    </div>
                    <div id="bookName">
                        <%= ele.bookname -%>
                    </div>
                    <div id="authorName">
                        <%= ele.bookauthor -%>
                    </div>
                </div>
                <div class="theBack">
                    <div>Book Price -
                        <%= ele.bookprice -%>
                    </div>
                    <div>Book Issue Date -
                        <%= ele.bookissuedate -%>
                    </div>
                    <div>Days Remaining to return book -
                        <%=  ele.remainingdays -%>
                    </div>
                </div>


            </div>
            <% }) %>
                <div class="days-issued">No of days book is issued -
                    <%= daysIssued -%> days
                </div>
    </div>
</body>

</html>