<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Issued Books Info</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-attachment: fixed;
        background-size: cover;
        background-image: url('/images/2020_07_cambridge-university-library-3d-hd-4k.jpg');
    }
    
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        /* border: 1px solid white; */
        margin: 1rem;
        background-color: rgba(0, 0, 0, 0.6);
    }
    /* Flip animation starts here */
    
    .card {
        position: relative;
        width: 19rem;
        height: 14rem;
        padding: 1rem;
        /* border: 1px solid white; */
        margin: 1rem;
        transition: all 1.2s ease;
        transform-style: preserve-3d;
    }
    
    .card:hover {
        transform: rotateY(180deg);
    }
    
    .theFront {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0.5rem;
        backface-visibility: hidden;
        background: linear-gradient(to right, rgba(77, 77, 252, 0.8), rgba(85, 85, 252, 0.8), rgba(115, 115, 252, 0.8));
        color: white;
    }
    
    .theBack {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0.5rem;
        backface-visibility: hidden;
        background: linear-gradient(to right, rgba(2, 167, 134, 0.8), rgba(8, 179, 144, 0.8), rgba(29, 216, 179, 0.8));
        color: #ffffff;
        transform: rotateY(180deg);
    }
    
    .bookName {
        margin: 0.5rem 0;
        font-size: 1.5rem;
        text-align: center;
        font-weight: bold;
    }
    
    .authorName {
        font-size: 1.2rem;
        text-align: center;
        color: black;
    }
    
    .bookName input,
    .authorName input {
        padding: 0.3rem;
        text-align: center;
        width: 100%;
        flex-wrap: 2;
        background: transparent;
        color: white;
        outline: none;
        border: none;
        font-size: 1rem;
    }
    
    .theBack div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.2rem;
    }
    /* Flip Animation Ends here */
    
    .genreImage img {
        width: 100%;
        height: 8rem;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }
    
    .issuerInfoContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 1rem;
    }
    
    .issuerInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* border: 1px solid black; */
        padding: 0.3rem 0.6rem;
        background-color: rgba(233, 91, 233, 0.8);
        color: rgb(252, 252, 46);
    }
    
    .issuerInfo .hr {
        width: 100%;
        border-bottom: 1px solid black;
        margin: 0.5rem 0;
    }
    
    .date {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        background-color: rgba(0, 152, 120, 0.7);
    }
    
    .date .personalDetails {
        padding: 0.5rem;
        background-color: rgb(64, 126, 241);
        color: white;
        width: 33.3333333%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    #homeBtn,
    #issueBooks,
    #editBtn {
        outline: none;
        border: none;
        padding: 0.5rem 0.8rem;
        color: white;
        margin: 0 1rem;
        background-color: black;
        font-size: 1rem;
        transition: 0.3s ease-in-out;
        cursor: pointer;
    }
    
    #editBtn {
        background-color: tomato;
        color: white;
    }
    
    #editBtn a {
        text-decoration: none;
        color: white;
    }
    
    #homeBtn:hover,
    #issueBooks:hover,
    #editBtn a:hover,
    #editBtn:hover {
        background-color: white;
        color: rgb(71, 129, 236);
    }
    
    #submitBtn {
        outline: none;
        border: none;
        padding: 0.5rem 1rem;
        color: white;
        margin: 0 1rem;
        background-color: rgb(71, 129, 236);
        font-size: 1.1rem;
        transition: 0.3s ease-in-out;
        cursor: pointer;
    }
    
    .date p {
        font-family: monospace;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 2rem;
        width: 33.3333333%;
        text-align: center;
    }
    
    .buttons {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        /* border: 1px solid black; */
        width: 33.3333333%;
        background-color: transparent;
    }
</style>

<body>
    <div class="date">
        <div class="buttons">
            <form action="/">
                <button id="homeBtn">Home</button>
            </form>
            <form action="/issuebook/<%=userInfo.userName-%>/<%=userInfo.registrationNumber-%>">
                <button id="issueBooks">Issue Books</button>
            </form>
        </div>
        <p>ISSUED BOOKS INFO</p>
        <div class="personalDetails">
            Todays Date -
            <%= todayDate -%>
                <form action="/editUserInfo/<%=userId-%>/<%=userIdFromBook-%>" method="get">
                    <button id="editBtn" type="submit">Edit Profile</button>
                </form>
        </div>
    </div>
    <div class="issuerInfoContainer">
        <div class="issuerInfo">
            <span>User Name</span>
            <div class="hr"></div>
            <%= userInfo.userName -%>
        </div>

        <div class="issuerInfo">
            <span>User Registration Number</span>
            <div class="hr"></div>
            <%= userInfo.registrationNumber -%>
        </div>
        <div class="issuerInfo">
            <span>User Email Id</span>
            <div class="hr"></div>
            <%= userInfo.email -%>
        </div>
        <div class="issuerInfo">
            <span>User Mobile Number</span>
            <div class="hr"></div>
            <%= userInfo.mobileNumber -%>
        </div>
        <div class="issuerInfo">
            <span>Total Number Of Books Issued</span>
            <div class="hr"></div>
            <%= data.length -%>
        </div>
    </div>
    <div class="container">

        <% data.forEach(ele=>{ %>
            <form action="/issuedBookInfo/returnBook/<%= userInfo.userName -%>/<%= userInfo.registrationNumber-%>" method="post">
                <div class="card">

                    <div class="theFront">
                        <div class="genreImage">
                            <img src="/images/<%= ele.bookgenre.toLowerCase().trim() -%>.jpg" alt="">
                        </div>
                        <div class="bookName" name='bookname'>
                            <input type="text" name="bookname" id="" value="<%= ele.bookname -%>">
                        </div>
                        <div class="authorName">
                            <input type="text" name='authorname' id="" value="<%= ele.bookauthor -%>">
                        </div>
                    </div>
                    <form action="/issuedBookInfo/returnBook" method="post">
                        <div class="theBack">
                            <div>Book Name -
                                <%=ele.bookname-%>
                            </div>
                            <div>Author Name -
                                <%=ele.bookauthor-%>
                            </div>
                            <div>Book Price -
                                <%= ele.bookprice -%>
                            </div>
                            <div>Book Issue Date -
                                <%= ele.bookissuedate -%>
                            </div>
                            <div>Days Remaining to return book -
                                <%=  ele.remainingdays -%>
                            </div>
                            <button type="submit" id="submitBtn">Return Book</button>
                        </div>

                </div>
                </form>
                <% }) %>
                    <div class="days-issued">No of days book is issued -
                        <%= daysIssued -%> days
                    </div>
    </div>
</body>

</html>